<h1>Detalle de Productos</h1>
<p>Carrito: {{cart._id}}</p>

<ul>
  {{#each cart.products}}
  <li>
    <strong>{{this.product.title}}</strong> - ${{this.product.price}}
    <p>{{this.product.description}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    <button onclick="eliminarDelCarrito('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
  </li>
  {{/each}}
</ul>

<script>
  async function eliminarDelCarrito(cartId, productId) {
    try {
    const response = await fetch(`/cart/${cartId}/product/${productId}`, {
      method: 'DELETE'
    });

    const data = await response.json();

    if (response.ok) {
      alert("Producto eliminado del carrito con éxito!");
         window.location.reload();
    } else {
      alert("Error: " + data.message);
    }
  } catch (error) {
    console.error("Error al eliminar producto: ", error);
  }
  }
</script>